@CHARSET "UTF-8";

    #font_logo{
	color:blue;
	font-size: 60px;
	text-align:center;
    }
    #page{
		width:900px;
		margin:auto;/*auto div居中*/
	}
    #div_top{
		border:1px solid #999;
		background-color: #FCFDEF;
		padding:10px auto 15px;
		align:center;
	}
	 #div_login{
		border:1px solid #999;
		background-color: #FCFDEF;
		align:center;
		padding:10px 15px;
	}
    
    #font_label{
	color:black;
	font-size: 14px;
	}